@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
.site-header {
  background-color: #094DA2;
  border-top: 10px solid #4086E5;
  width: 100%;
}
.site-header .site-title {
  color: white;
  font-size: 1.5rem;
  height: auto;
  width: fit-content;
}
.site-header .site-title img {
  width: 100%;
  height: auto;
}
.site-header .site-branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-header > .header-wrapper {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 14px 0;
}
.site-header > .header-wrapper > * {
  width: 100%;
}
.site-header > .header-wrapper .main-navigation {
  display: flex;
  justify-content: end;
}
.site-header > .header-wrapper .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 90%;
}
.site-header > .header-wrapper .menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  column-gap: 22px;
}
.site-header > .header-wrapper .menu li {
  display: flex;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.site-header > .header-wrapper .menu li.current_page_item {
  font-weight: bold;
}
.site-header > .header-wrapper .menu a {
  font-family: "Poppins", serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1rem;
  color: white;
  width: 100%;
}
.site-header > .header-wrapper .menu a:hover {
  font-weight: bold;
  letter-spacing: 0;
}
@media only screen and (max-width: 767px) {
  .site-header > .header-wrapper .menu {
    display: none;
  }
}
.site-header .mobile-header {
  display: none;
  margin-left: auto;
  flex-direction: row;
}
.site-header .mobile-header .menu-canvas {
  width: 80%;
}
.site-header .mobile-header .mobile-site-branding {
  display: flex;
  width: fit-content;
  padding-left: 0.5rem;
}
.site-header .mobile-header .hamburger-btn {
  display: none;
  color: white;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}
.site-header .mobile-header .hamburger-btn > * {
  color: currentColor;
}
.site-header .mobile-header .hamburger-btn:hover {
  background-color: white;
  color: #094DA2;
  border-color: currentColor;
}
@media only screen and (max-width: 767px) {
  .site-header .mobile-header .hamburger-btn {
    display: flex;
  }
}
.site-header .mobile-header .offcanvas-header {
  padding-right: 3rem;
}
.site-header .mobile-header .offcanvas-body .menu {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.site-header .mobile-header .offcanvas-body .menu ul {
  padding-left: 0;
  flex-direction: column;
}
.site-header .mobile-header .offcanvas-body .menu li {
  display: flex;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.site-header .mobile-header .offcanvas-body .menu li.current_page_item {
  font-weight: bold;
}
.site-header .mobile-header .offcanvas-body .menu a {
  padding: 0.5rem 0;
  font-size: 16px;
  color: black;
}
@media only screen and (max-width: 767px) {
  .site-header .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer.site-footer {
  background-color: #094DA2;
  width: 100%;
  padding: 37px 0;
}
footer.site-footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  color: #FFF;
}
@media only screen and (max-width: 767px) {
  footer.site-footer .footer-content {
    align-items: flex-start;
  }
}
footer.site-footer p {
  margin: 0;
}
footer.site-footer .site-footer-icon {
  display: flex;
  justify-content: center;
}
footer.site-footer .site-footer-footer {
  max-width: 150px;
  width: 100%;
  height: auto;
}
footer.site-footer ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  row-gap: 10px;
}
@media only screen and (max-width: 767px) {
  footer.site-footer ul {
    flex-direction: column;
    padding-left: 1rem;
  }
}
footer.site-footer li {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
footer.site-footer li.current_page_item {
  font-weight: bold;
}
footer.site-footer a {
  font-family: "Poppins", serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1rem;
  color: white;
  width: 100%;
}
footer.site-footer a:hover {
  font-weight: bold;
  letter-spacing: 0;
}
@media only screen and (max-width: 767px) {
  footer.site-footer .copyright {
    padding-left: 2rem;
  }
}
footer.site-footer .site-title {
  color: white;
  font-size: 1.5rem;
  height: auto;
  width: fit-content;
}
footer.site-footer .site-title img {
  width: 100%;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", san-serif;
}

/*# sourceMappingURL=style.css.map */
