@use "variable" as v;

.site-header {
  background-color: v.$primary-color;
  border-top: 10px solid v.$secondary-color;

  .header-wrapper {
    display: flex;
    width: 95%;
    margin: auto;
    padding: 17px 0;

    & a,
    .site-title {
      color: white;
      margin: 0;
      text-decoration: none;
      width: fit-content;

      & img {
        width: 100%;
      }
    }

    &>* {
      display: flex;
      width: 100%;
    }

    F // Site Icon container

    & .site-branding {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .site-title:hover {
        text-decoration: underline;
      }
    }

    & .main-navigation {
      &>* {
        width: 100%;
      }

      & .site-navigation {
        display: flex;
        flex-direction: column;
        margin: 10px;

        & .menu {
          display: flex;

          & ul {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;
            padding-left: 0;
            column-gap: 22px;
          }

          & li {
            list-style-type: none;
            text-transform: uppercase;

            &.current_page_item,
            &:hover {
              text-shadow: 1px 0 0 currentColor;
            }
          }
        }

        @media #{ v.$media_mobile } {
          display: none;
        }

      }

      // Mobile Header
      & .mobile-header {
        display: none;
        justify-content: end;
        align-items: center;

        & .hamburger-btn {
          border: 3px solid white;
          border-radius: 1rem;
          color: white;
          font-size: 2rem;

          &:hover {
            background-color: white;
            color: v.$primary-color;
          }
        }

        // Canvas
        & .menu-canvas {
          width: 85%;
        }

        & .offcanvas-header {
          display: flex;
          justify-content: space-between;
        }

        & .offcanvas-body {
          & ul {
            margin: 0;
            padding: 0;
          }

          & li {
            list-style-type: none;

            &.current_page_item,
            &:hover {
              text-shadow: 1px 0 0 currentColor;
            }
          }

          & a {
            color: black;

          }
        }

        @media #{ v.$media_mobile } {
          display: flex;
        }
      }
    }
  }
}